.logo_infos_car {
	width: 10%;
}
.page-container {
	background-image: url(principal_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.simple_text {
	color: #FFFFFF;
}
.pageStyle {
	background-image: url(background.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.title_info {
	color: #6B6B6B;
	width: 100%;
	font-size: 20px;
	text-align: center;
}
.Productslist-list {
	margin-left: 2%;
	height: 89%;
	margin-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 96%;
	background-color: #FFFFFF;
	border-radius: 5px;
}
.details_description {
	margin-left: 5%;
	width: 90%;
	font-size: 23px;
}
.grid_item_designation {
	margin-left: 2%;
	margin-right: 2%;
	color: #000000;
	margin-bottom: 1%;
	font-weight: bold;
	text-align: center;
}
.Productslist-itemGrid {
	margin-left: 2%;
	height: 41%;
	margin-top: 2%;
}
.container_btns {
	margin-left: 5%;
	margin-bottom: 2%;
	margin-top: 2%;
	text-align: center;
}
.details_description_text {
	margin-left: 5%;
	color: #6B6767;
	width: 90%;
	font-size: 16px;
}
.login_form {
	height: 44%;
	width: 100%;
	font-size: 100%;
}
.grid_item_image {
	width: 137px;
	margin-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-right: 0;
	height: 129px;
}
.myReservation_btn {
	color: #D45D2F;
	border: 1px solid rgb(255, 190, 38);
	padding-top: 1%;
	padding-bottom: 1%;
	width: 45%;
	text-align: center;
}
.hr {
	background-image: url(hr.png);
	margin-bottom: 3%;
	width: 80%;
	margin-top: 5%;
	text-align: center;
}
.miniSpacer {
	height: 5%;
	background-color: #FFFFFF;
}
.Productslist-imageGrid {
	height: 30%;
	width: 44%;
}
.logo {
	height: 10.63%;
	margin-bottom: 5%;
	margin-top: 13%;
}
.menu_header {
	height: 5%;
	margin-right: 5%;
	width: 12.5%;
	margin-top: 3%;
}
.title_header {
	color: #FFFFFF;
	width: 65%;
	margin-top: 1.5%;
	font-size: 27px;
	text-align: center;
}
.input_field_min {
	width: 80%;
	background-image: url(input_bg.png);
	color: #FFFFFF;
	border-style: none;
	margin-bottom: 2%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-left: 7%;
	height: 6%;
}
.grid_pair_items {
	height: 40%;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 100%;
}
.details_designation {
	color: #000000;
	margin-bottom: 1%;
	width: 100%;
	font-weight: bold;
	text-align: left;
}
.main_body {
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	margin-top: 1%;
}
.details_first_section {
	margin-left: 5%;
	width: 90%;
}
.header {
	background-image: url(background.png);
	background-repeat: no-repeat;
	width: 100%;
}
.grid_list {
	height: 88%;
	width: 100%;
	background-color: #FFFFFF;
}
.Productslist-titleGrid {
	color: #000000;
	width: 44%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
.login_btn {
	height: 8%;
	color: #FFFFFF;
	width: 86%;
	background-color: #FFBE26;
	border-style: none;
	text-align: center;
}
.grid_price_text {
	color: #B5B5B5;
	font-size: 16px;
	text-align: right;
}
.title {
	color: #FFFFFF;
	margin-bottom: 3%;
	font-weight: bold;
	font-size: 15px;
}
.grid_item {
	margin-left: 6%;
	height: 198px;
	width: 134.4px;
	background-color: #FFFFFF;
	margin-top: 0;
	text-align: center;
}
.container_price {
	text-align: center;
}
.input_field {
	width: 80%;
	background-image: url(input_bg.png);
	color: #FFFFFF;
	border-style: none;
	margin-bottom: 2%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-left: 7%;
	height: 7%;
}
.infos_vehicule {
	margin-left: 5%;
	width: 90%;
	text-align: center;
}
.hr_grise {
	margin-left: 5%;
	background-image: url(line_grise.png);
	margin-bottom: 3%;
	width: 90%;
	margin-top: 5%;
	text-align: center;
}
.link {
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
}
.details_infos_spacer {
	height: 4px;
	width: 100%;
}
.itemStyle {
	width: 50%;
}
.drawer_menu {
	margin-left: 80%;
	width: 10%;
}
.Productslist-priceGrid {
	color: #D45D2F;
	font-size: 16px;
	text-align: left;
}
.details_price {
	color: #B5B5B5;
	font-size: 16px;
	text-align: left;
}
.offres_btn {
	color: #D45D2F;
	border: 1px solid rgb(255, 190, 38);
	padding-top: 1%;
	padding-bottom: 1%;
	width: 45%;
	text-align: center;
}
.back_arrow {
	margin-left: 5%;
	height: 5%;
	width: 12.5%;
	margin-top: 3%;
}
.slide_show {
	height: 45%;
}
.grid_item_spacer {
	height: 3px;
	margin-bottom: 1%;
	width: 43%;
}
.registre_form {
	height: 58%;
	width: 100%;
	font-size: 100%;
}
.infos_vehicule_text {
	padding-left: 1%;
	width: 30%;
	text-align: left;
}
.reservation_btn {
	margin-left: 25%;
	color: #FFFFFF;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 50%;
	background-color: #FFBF25;
	text-align: center;
}
.Productslist-spGrid {
	height: 3px;
	width: 44%;
}
